**Task-02 : Restaurant Recommendation**


*Objective: Create a restaurant recommendation
system based on user preferences.*

*Steps:*

`Preprocess the dataset by handling missing
values and encoding categorical variables.
Determine the criteria for restaurant
recommendations (e.g., cuisine preference,
price range).
Implement a content-based filtering
approach where users are recommended
restaurants similar to their preferred criteria.
Test the recommendation system by
providing sample user preferences and
evaluating the quality of recommendations.`

In [1]:
import pandas as pd 

df = pd.read_csv('D:\MACHINE LEARNING INTERN\Tasks\dataset .csv')

df.head(1)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314

In [2]:
df = df.drop(['Restaurant ID', 'Country Code', 'Locality', 'Locality Verbose', 'Address', 'Longitude', 'Latitude', 'Currency', 'Switch to order menu', 'Rating color',], axis=1)

df.head()

,Restaurant Name,City,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating text,Votes
0,Le Petit Souffle,Makati City,"French, Japanese, Desserts",1100,Yes,No,No,3,4.8,Excellent,314
1,Izakaya Kikufuji,Makati City,Japanese,1200,Yes,No,No,3,4.5,Excellent,591
2,Heat - Edsa Shangri-La,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,Yes,No,No,4,4.4,Very Good,270
3,Ooma,Mandaluyong City,"Japanese, Sushi",1500,No,No,No,4,4.9,Excellent,365
4,Sambo Kojin,Mandaluyong City,"Japanese, Korean",1500,Yes,No,No,4,4.8,Excellent,229

In [3]:
df.isnull().sum()

Restaurant Name         0
City                    0
Cuisines                9
Average Cost for two    0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Price range             0
Aggregate rating        0
Rating text             0
Votes                   0
dtype: int64

In [4]:
df['Cuisines'] = df['Cuisines'].fillna('Unknown')

In [5]:
# Convert Cuisine Text → Vectors

import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer


tfidf = TfidfVectorizer(stop_words='english')

cuisine_matrix = tfidf.fit_transform(df['Cuisines'])


# compute similarity
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(cuisine_matrix)

In [13]:
# Recommendation Function

def recommend_restaurants(name, top_n=5):
    if name not in df['Restaurant Name'].values:
        return "Restaurant not found."
    
    index = df[df['Restaurant Name'] == name].index[0]

    scores = list(enumerate(similarity[index]))
    scores = sorted(scores, key=lambda x: x[1], reverse=True)

    restaurant_indices = [i[0] for i in scores[1:top_n+1]]

    return df.loc[
        restaurant_indices,
        ['Restaurant Name', 'Cuisines', 'Average Cost for two', 'Aggregate rating', 'Rating text', 'Votes']]

recommend_restaurants("Sambo Kojin")

,Restaurant Name,Cuisines,Average Cost for two,Aggregate rating,Rating text,Votes
106,Choo Choo Eastside,"Japanese, Korean",10,3.9,Good,439
2682,Restaurant De Seoul,"Japanese, Korean",2500,3.6,Good,59
1465,Di Miso,"Korean, Japanese, Chinese, Asian",1500,3.6,Good,38
2980,Boa Village,"Chinese, Japanese, Korean, Asian",1500,4.0,Very Good,225
14,Sodam Korean Restaurant,Korean,700,4.3,Very Good,223